<div class="api_error">
  <h2>An error occurred during the API request for mobile offers. Here is the response:</h2>
  <p>Status: <%= @mobile_offer_service.status %></p>
  <div>
    <%= @mobile_offers %>
  </div>
</div>
