<table class="mobile_offers">
  <thead><tr>
    <th>Title</th>
    <th>Thumbnail low resolution url</th>
    <th>Payout</th>
  </tr></thead>
  <% @mobile_offers['offers'].each do |mobile_offer| %>
    <tr>
      <td><%= mobile_offer['title'] %></td>
      <td><%= mobile_offer['thumbnail']['lowres'] %></td>
      <td><%= mobile_offer['payout']%></td>
    </tr>
  <% end %>
</table>